# Git
.git
.gitignore

# Node.js
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log

# Environment variables
.env
.env.*
!.env.example

# IDE files
.idea
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Docker config (OK à ignorer)
Dockerfile
.dockerignore
docker-compose.yml
docker-compose.*.yml

# Tests
.nyc_output

# Uploads (OK, créé dans le conteneur)
uploads/*
